<input type="text">
<button>Check title</button>

<h2>First Type</h2>
<div *ngFor="let item of contentList | filterContent: 'placeholder'">
  <div class="content-card first-type">
    <h3>{{item.title}}</h3>
  </div>
</div>

<h2>Second Type</h2>
<div *ngFor="let item of contentList | filterContent: 'different'">
  <div class="content-card second-type">
    <h3>{{item.title}}</h3>
  </div>
</div>

<h2>No Type</h2>
<div *ngFor="let item of contentList | filterContent">
  <div class="content-card no-type">
    <h3>{{item.title}}</h3>
  </div>
</div>