.content-card, .content-tags {
    margin: 1rem;
    padding: 0 1rem;
    border: 1px solid black;
}

.first-type {
    background-color: #ffd6ff;
}

.second-type {
    background-color: #c8b6ff;
}

.no-type {
    background-color: #bbd0ff;
}

.exists {
    color: green;
}

.not-exists {
    color: red;
}

.highlight {
    background-color: greenyellow;
    border: 3px solid;
}