.content-card, .content-tags {
    margin: 1rem;
    padding: 0 1rem;
    border: 1px solid black;
}

.first-type {
    background-color: #ffd6ff;
}

.second-type {
    background-color: #c8b6ff;
}

.no-type {
    background-color: #bbd0ff;
}